body{
    background-image: url(background.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
}
.calculator{
    margin:auto;
    width:25rem;
    height:36rem;
    display: grid;

    grid:"header header" minmax(0,1fr)
        "numbers  operators " minmax(0,18.5rem)
       
        / minmax(0, 1fr) 8rem  ;
    margin-top:5rem;

    
    box-shadow: 12px 12px 12px black;
    }
.screen{
    grid-area:header;
    display:grid;
    grid-template-rows: 50% 50%;
    grid-template-areas:
    "upperScreen"
    "lowerScreen";
    justify-self:end;
    align-self: end;
    background-color: pink;
    width:100%;
    height:100%;
    
    word-break: break-all;
    overflow-y:hidden;
    
    
    box-sizing: border-box;

background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(253,29,29,1), rgba(252,176,69,1) 100%);
}
.upperScreen{
    grid-area:upperScreen;
    
    height:100%;
    justify-self:start;
    align-self: start;
    font-size:2rem;
    color:#910de9;
}
.lowerScreen{
    grid-area:lowerScreen;
    justify-self:end;
    align-self: end;
   height:100%;
    overflow:hidden;
    font-size:2.5rem;
    color:#450173
    
}
.numberButtons{
    grid-area:numbers;
    margin-top:1rem;
    
}
.numberButtons > button{
    background-color: rgba(253,29,29,1);
}
.numberButtons > button:hover{
    background-color: pink
}
.numberButtons> button:nth-child(2n)
{
    background-color: rgb(255, 142, 49);  
}
.numberButtons> button:nth-child(2n):hover{
    color:white
}
.operatorButtons{
 grid-area:operators;
 justify-self: start;
 margin-top:1rem;
}
.operatorButtons >button {
    background-color: rgba(252,176,69,1);

}
button{
    width:7.8rem;
    height:2rem;
    border:none;
    box-shadow: 2px 2px 2px red;
    margin-top: 4px;
    border-radius: 3%;
    
}
button:hover{
    background-color: rgba(253,29,29,1); ;
}

.equal {
    grid-area:equal;
    padding: 0 12.4rem 0 12.4rem;
    margin-top: 5px;
    align-self:start;
    justify-self: start;
    background: linear-gradient(90deg, rgba(253,29,29,1), rgba(252,176,69,1) 100%);
    
}
.equal:hover{
    background:none;
    background: linear-gradient(90deg,rgba(252,176,69,1), rgba(253,29,29,1) 100% ) !important;
    color:black !important;
}
.calculatorButtons{
   display:flex;
   flex-direction: column;
}