body{
    background-image: url(background.jpg);
    width:100vw;
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
    touch-action: manipulation;
}

.calculator{
    margin:auto;
    width:25.5rem;
    height:36rem;
    display: grid;

    grid:"header  header" minmax(0,1fr)
        "numbers operators " minmax(0,15rem)
        "equal equal"minmax(0,4rem)
       
        / minmax(0, 1fr) 8rem  ;
    margin-top:5rem;
    

    
    box-shadow: 12px 12px 12px black;
    }

.screen{
    grid-area:header;
    display:grid;
    grid-template-rows: 50% 50%;
    grid-template-areas:
    "upperScreen"
    "lowerScreen";
    justify-self:end;
    align-self: end;
    background-color: pink;
    width:100%;
    height:100%;
    
    word-break: break-all;
    overflow-y:hidden;
    
    
    box-sizing: border-box;

background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(253,29,29,1), rgba(252,176,69,1) 100%);
}

.upperScreen{
    grid-area:upperScreen;
    
    height:100%;
    justify-self:start;
    align-self: start;
    font-size:2rem;
    color:mediumblue;
    transform: translate(0,0);
    transition:1.5s;
}
.lowerScreen{
    grid-area:lowerScreen;
    justify-self:end;
    align-self: end;
   height:100%;
    overflow:hidden;
    font-size:2.5rem;
    color:royalblue;
    transform: translate(0,0);
    transition:1.5s;
    
}
button{
    width:7.8rem;
    height:2rem;
    border:none;
    box-shadow: 2px 2px 2px red;
    margin-top: 4px;
    border-radius: 3%;
    touch-action: manipulation;

    
    
}
.rightButtonsPressed,
button:hover{
    background-color: rgba(253,29,29,1)!important; 
    transform:scale(1.1);
    transition: 0.25s; 
}

.numberButtons{
    grid-area:numbers;
    margin-top:1rem;
    
}
.numberButtons > button{
    background-color: rgba(253,29,29,1);
    margin-left: 0.5rem;
    box-shadow:4px 4px 2px black !important;
}
.leftButtonsPressed,
.numberButtons > button:hover{
    background-color: rgba(252,176,69,1) !important;
    transform:scale(1.1);
    transition: 0.25s; 

}
.numberButtons> button:nth-child(2n)
{
    background-color: rgb(255, 142, 49);  
}
.centerButtonsPressed,
.numberButtons> button:nth-child(2n):hover{
    background-color:rgb(255, 142, 49) !important ;
    transform:scale(1.1);
    transition: 0.2s; 
}


.operatorButtons{
 grid-area:operators;
 justify-self: start;
 margin-top:1rem;
}
.operatorButtons >button {
    background-color: rgba(252,176,69,1);
    box-shadow:4px 4px 2px black !important;
}

.longArea{
    grid-area:equal;
    

}
.longButtons {
    padding: 0 12.7rem 0 12.7rem;
    margin-top: 5px;
    
    background: linear-gradient(90deg, rgba(253,29,29,1), rgba(252,176,69,1) 100%);
    box-shadow:4px 4px 2px black !important;
}
.halfLongButtons{
    padding: 0 6.3rem 0 6.3rem;
    margin-top: 5px;
    align-items: start;
    background: linear-gradient(90deg, rgba(253,29,29,1), rgb(252, 136, 58) 100%);
    box-shadow:4px 4px 2px black !important;
}
#backspace{
    background: linear-gradient(90deg, rgb(252, 78, 42) , rgba(252,176,69,1) 100%);
}

.longButtonsPressed,
.longButtons:hover{

    background:none;
    transform:scale(1.1);
    transition: 0.250s; 
    background: linear-gradient(90deg, rgba(253,29,29,1), rgba(252,176,69,1) 100%);
    color:black !important;

  
}
